@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    @apply grid grid-cols-4 p-8 mb-2 gap-4
}

.card {
    @apply flex flex-col border-primary-dark shadow-md shadow-primary-light border-2 rounded-xl p-3
}

.card:hover {
    @apply transform scale-105 ease-out duration-200
}

.title {
    @apply text-3xl font-bold 
}

.author {
    @apply text-2xl
}

.pages {
    @apply mb-9 
}

.icons {
    @apply flex justify-end gap-4 ml-5
}

.btn {
    @apply flex gap-2 p-2 border-2 border-primary-dark rounded-lg
}

.btn.active, .btn:focus {
    @apply bg-primary-light text-primary-dark border-primary-dark
}

.btn:hover {
    @apply transform scale-105 ease-out duration-100
}

.icon {
    @apply w-7 hover:scale-110 cursor-pointer
}

.modal {
    @apply fixed top-50% left-50% w-80 p-11 text-center rounded-xl border-primary-dark border-2 transform -translate-x-1/2 -translate-y-1/2 scale-0 ease-in-out duration-200
}

.modal.active {
    @apply transform -translate-x-50% -translate-y-50% scale-100
}

#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    @apply fixed top-0 left-0 w-100% h-100%
}

#overlay.active {
    display: block;
}